[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.pyenv/versions/mindnote-env/bin/uwsgi -i /home/ubuntu/mindnote-server/mindnote-server/.config/uwsgi/mysite.ini


Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target